body {
    background-color: rgb(0, 132, 255);
}
header {
    text-align: center;
}

footer {
    text-align: center;
    padding-top: 10px;
}

header, footer {
    color: white;
}

section {
    display: flex;
    justify-content: center;
}
.container {
    background-color: white;
    width: 38%;
}

div {
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 5px;
}

